<section id="parts_view_container" ng-controller="PartsController">

    <div id="parts_background"></div>
    <div id="top_bar">ID ME</div>

    <div id="bin_title">
        <!--<h1> {{name | uppercase }}'S PARTS BIN </h1>-->
        <h1> PARTS BIN </h1>
    </div>

    <div id="create_new_div">
        <input id="type_input" type="text" max="100" size="27" ng-model="type" required placeholder="+type">
        <input id="size_input" type="text" max="100" size="27" ng-model="size" required placeholder="+size">
        <input id="stock_input" type="number" max="100" size="27" ng-model="stock" required placeholder="+unit stock">
        <input type="button" id="add_button" class="parts_button" value="+"
               ng-click="CreateNewBin(type, size, stock)">
    </div>

    <div id="search_div">
        <input type="text" max="100" size="45" ng-model="search_by" placeholder="search">
    </div>



    <div id="bin_body">


        <div class="bin" draggable="true" ng-repeat="item in storageArray | filter: search_by track by $index">

            <b>type:</b> {{item.type}} <br/>
            <b>size:</b> {{item.size}} <br/>

            <div class="unit_count">
                <span class="large_numbers">{{item.stock}}</span>
                <span><b>units</b></span><br/>


            </div>

            <div class="bin_controls">
                <button class="bin_button" ng-click="IncrementStock($index)">+</button>
                <button class="bin_button" ng-click="DecrementStock($index)">-</button>
            </div>

            <div class="bin_killer">
                <button class="bin_button" ng-click="DestroyBin(item)">X</button>
            </div>
        </div>
    </div>

</section>


