<section id="parts_view_container" ng-controller="PartsController">

    <div id="parts_background"></div>
    <div id="top_bar">ID ME</div>

    <div id="bin_title">
        <h1> {{name | uppercase }}'S PARTS BIN </h1>
    </div>

    <div id="tools_div">
        <input type="button" id="add_button" class="button" value="+" ng-click="funky('this is awesome')">
        <input type="text" max="100" size="27" ng-model="search_by" placeholder="search">

    </div>

    <div id="bin_body">
        <div class="bin">
            {{stuff.value}}-ington
        </div>

        <div class="bin" ng-repeat="item in bins | filter: search_by">

            <b>type:</b> {{item.type}} <br/>
            <b>size:</b> {{item.size}} <br/>

            <div class="unit_count">
                <span class="large_numbers">{{item.units}}</span> <br/>
                <b>units left</b> <br/>
            </div>




        </div>

    </div>




</section>


