<section id="resume_section" ng-controller="ResumeController">
  <h1 class="center"> Resume </h1> <br>
  
  
<!-- INFO SECTION -->
<aside id="info" class="sections">

  <span id="user_name" class="contact_info">{{info_data.data.name}}</span> <br>
  <span id="user_title" class="contact_info">{{info_data.data.title}}</span> <br>
  <span id="user_phone" class="contact_info">{{info_data.data.phone}}</span> <br>
  <span id="user_email" class="contact_info"> {{info_data.data.email}}</span> <br>
  <span id="user_website" class="contact_info"> {{info_data.data.website}} </span>
</aside>
<!-- END INFO-->
  <br>

<!-- EXPERIENCE SECTION -->
<div id="experience" class="sections">
  <hr>
  <h3>Experience</h3>
  
<!-- CT -->
  <div>
    <h4> {{experience_data.exp_roles[0].exp_title}}, {{experience_data.exp_roles[0].exp_company}},  {{experience_data.exp_roles[0].exp_length}}</h4>
    
    <div class="indent">
      <div><b>Projects include:</b></div>
    
      <div ng-repeat="item in experience_data.exp_roles[0].exp_projects">
        <span class="inline"> {{item.client}}: "{{item.project}}" </span>
      </div>
      <br>
      <div>
        <b>Duties include:</b>
        {{experience_data.exp_roles[0].exp_duties}}
      </div>
    </div>
  </div>
<!-- END CT -->
  
<!-- 3DMVG -->
  <div>
    <h4> {{experience_data.exp_roles[1].exp_title}}, {{experience_data.exp_roles[1].exp_company}},  {{experience_data.exp_roles[1].exp_length}}</h4>
    
    <div class="indent">
      <div><b>Projects include:</b></div>
    
      <div ng-repeat="item in experience_data.exp_roles[1].exp_projects">
        <span class="inline"> {{item.client}}: "{{item.project}}" </span>
      </div>
      <br>
      <div>
        <b>Duties include:</b>
        {{experience_data.exp_roles[1].exp_duties}}
      </div>
    </div>
  </div>
<!-- END 3DMVG -->
  
<!-- VFX SUPERVISOR -->
  <div>
    <h4> {{experience_data.exp_roles[2].exp_title}}, {{experience_data.exp_roles[2].exp_company}}, {{experience_data.exp_roles[2].exp_length}}</h4>
    
    <div class="indent">
      <div><b>Clients include:</b></div>
      <div>{{experience_data.exp_roles[2].exp_clients}}</div> <br>
      
      
      <div><b>Projects include:</b></div>
      <div ng-repeat="item in experience_data.exp_roles[2].exp_projects">
        {{item}}
      </div>
      <br>
      <div>
        <b>Duties include:</b>
        {{experience_data.exp_roles[2].exp_duties}}
      </div>
    </div>
  </div>
<!-- END VFX SUPERVISOR -->
  
  

  
</div>
  <br>
  
<!-- END EXPERIENCE -->

<!-- SKILLS -->
<div id="skills" class="sections">
  <hr>
  <h3>Skills</h3>
  
<!-- REPEAT the Headings -->
  <div ng-repeat="item in skills_data.sk_master">
    <h4> {{item.sk_heading}}</h4>
    <ul>
<!-- REPEAT the array elements -->
      <li ng-repeat="var in item.sk_data">
        {{var}}
      
      </li>
    </ul>
  
  </div>
</div>
<!--END SKILLS-->
  


</section>

<footer>

</footer>