//========================
// everything in the bins
//========================

#bin_title {
  margin: 10px auto;
  padding: 10px;
  position: relative;
  border: 5px solid black;
  width: 200px;
  text-align: center;
}

#bin_body {
  display: flex;
  flex-flow: row wrap;
  //justify-content: space-around;
  justify-content: center;
  margin: 0 0 1em 0;
}

.large_numbers {
  font-weight: 700;
  font-size: 3em;
}

.bin {
  position: relative;
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 100px;
  border: 5px solid black;
}