/*media.css, responsible for media queries*/

/* mobile state -- styles the screen, 'and' max-width */
@media only screen and (max-width: 568px) {
  .bin {
    position: relative;
    padding: 10px;
    margin: 5px;
    width: 85%;
    height: 50px;
    border: 5px solid black;
  }

}

/* tablet state -- styles the screen, 'and' min-width */
@media only screen and (min-width: 569px) and (max-width: 1024px) {

  .bin {
    position: relative;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 100px;
    border: 5px solid black;
  }

}

/* covers anything above 1024px */
@media only screen and (min-width: 1025px) {

  .bin {
    position: relative;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 100px;
    border: 5px solid black;
  }

}